{% extends 'base.html' %} {% load static %} {% block title %} Cart 
{% endblock title %} {%block body %}
<section class="w-full bg-white ">
  <div class="mx-auto max-w-4xl">
    <div class="">
      <div
        class="w-full "
      >
        <div class="px-12 mx-auto md:px-16 xl:px-10">
          <div class="">
            <div
              class="flex flex-col items-start justify-between w-full h-full p-10"
            >
              <h4 class="w-full text-3xl font-bold my-5">Cart</h4>
            {% if cart_items %}
              {%for item in cart_items%}
              <div class="w-full">
                <div
                  class="flex items-center justify-between w-full col-span-1 p-6 bg-white rounded-lg shadow"
                  data-rounded="rounded-lg"
                  data-rounded-max="rounded-full"
                >
                <img
                class="flex-shrink-0 w-20 h-20 bg-gray-300 rounded-lg object-contain xl:w-24 xl:h-24"
                src="{{item.product.image.url}}"
                alt=""
              />
                  <div class="flex flex-col pr-8">
                    <div class="pl-12">
                      <p
                        class="mt-2 text-sm capitalize text-gray-900 font-bold sm:text-base lg:text-2xl"
                      >
                        {{item.product.name}}
                      </p>
                    </div>
                    <div class="flex items-center justify-between mt-3">
                    <h3
                      class="pl-12 mt-3 text-sm font-medium leading-5 text-gray-800 truncate sm:text-base lg:text-sm lg:text-base"
                    >
                      Price : {{item.product.price}}
                    </h3>
                    <a href="{% url 'remove_from_cart' item.product.id %}" class="bg-red-600 text-sm cursor-pointer rounded-full text-gray-100 px-4">Remove</a>
                  </div>
                  </div>
                  
                </div>
              </div>
{% endfor %}

            </div>
          </div>
        </div>
      </div>
      <div class="my-3 max-w-md mx-auto">
      <a href="{% url 'checkout' %}">
        <button
        class="w-full px-3 py-4 font-medium text-white bg-gray-900 rounded-lg"
        data-rounded="rounded-lg"
      >
      Checkout
      </button></a>
    </div>
    </div>{%else%}
    <h1 class="text-center text-xl font-bold"> Cart is empty</h1>
    {%endif%}
  </div>
</section>
{%endblock body%}
